<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bapocalypse.train.dao.TrainDateDao">

    <select id="findAllTrainsByDate" parameterType="date" resultType="trainDate">
        SELECT * FROM traindate WHERE date = #{date}
    </select>

    <update id="reduceFirstSeatNumber">
        UPDATE traindate SET firstSeatNum = firstSeatNum - 1
        WHERE tid = #{tid} AND date = #{date} AND firstSeatNum > 0
    </update>
    <update id="reduceSecondSeatNumber">
        UPDATE traindate SET secondSeatNum = secondSeatNum -1
        WHERE tid = #{tid} AND date = #{date} AND secondSeatNum > 0
    </update>
    <update id="reduceStandNumber">
        UPDATE traindate SET standNum = standNum - 1
        WHERE tid = #{tid} AND date = #{date} AND standNum > 0
    </update>

</mapper>