<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间，作用就是对sql进行分类化管理-->
<mapper namespace="com.bapocalypse.train.dao.UserDao">
    <select id="findUserByUid" parameterType="int" resultType="user">
        SELECT * FROM user WHERE uid=#{uid}
    </select>

    <select id="findUserByUsername" parameterType="String" resultType="user">
        SELECT * FROM user WHERE username=#{username}
    </select>
    
    <insert id="insertUser" parameterType="user">
        INSERT INTO user(uid, username, password, name, IDType, ID, email, telephone, passenger)
        VALUES (#{uid}, #{username}, #{password}, #{name}, #{IDType}, #{ID}, #{email}, #{telephone}, #{passenger})
    </insert>

    <update id="updateUser" parameterType="user">
        UPDATE user SET password=#{password}, email=#{email}, telephone=#{telephone}, passenger=#{passenger}
        WHERE uid=#{uid}
    </update>
    
    <delete id="deleteUserByUid" parameterType="int">
        DELETE FROM user WHERE uid=#{uid}
    </delete>
</mapper>